In [8]:
import numpy as np
import pandas as pd

# series

In [11]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [15]:
pd_odd=pd.Series(odd)
pd_odd

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [17]:
pd_odd.mean() # 판다스에서 제공하는 기능을 쓸 수 없다.

5.0

In [18]:
#dataFrame

In [21]:
numbers=(
    [1,2,3],
    [4,5,6],
    [7,8,9]
)
numbers

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [22]:
numbers=pd.DataFrame(numbers)
numbers

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# 시리즈와 데이터 프레임 관계

In [24]:
type(numbers)

pandas.core.frame.DataFrame

In [25]:
numbers[0]

0    1
1    4
2    7
Name: 0, dtype: int64

In [26]:
numbers[1]

0    2
1    5
2    8
Name: 1, dtype: int64

In [27]:
type(numbers[0]) # series 여러개가 모인 형태가 DataFrame 이다.

pandas.core.series.Series